* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', Helvetica, sans-serif;
}

#tituloBack {
    width: 100%;    
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: linear-gradient(100deg, #06AA48 , #02bd4d, #06AA48);
}
.titulo{
    width: 330px;
    margin: auto;
}

 a {    
    font-size: 30px;    
    text-decoration: none;
    color: #f6f0f0;
}

/* BRASILEIRAO */
.titulo a:hover {
    color: #A4E0BC;
    cursor: pointer;
}

/* NOME TABELA */
.tabela {
    padding: 20px;
    padding-bottom: 8px;
    text-align: center;
}

table {
    border-collapse: collapse;
    color: #666666;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.cabecalhoCampeonato tr th {
    padding: 10px;
    font-size: 13px;
}

.cabecalhoCampeonato td {
    padding: 10px 10px;
    font-weight: 10px;
}

#fontNegrito {
    font-weight: bold;
    color: #000000;
}

/* COR NOME TIME */
.cabecalhoCampeonato td:nth-child(2) {
    font-weight: bold;
    color: #666666;
}

.esquerda {
    text-align: left;
}

.corAzul {
    font-weight: bold;
    color: #003366;
    font-size: 18px;
}

.corLaranja {
    font-weight: bold;
    color: #DE9800;
    font-size: 18px;
}

.corCinza {
    font-weight: bold;
    color: #CCCCCC;
    font-size: 18px;
}

.corVermelho {
    font-weight: bold;
    color: #C91B04;
    font-size: 18px;
}

/* COR NUMERO SANTOS */
.santos td:nth-child(1) {
    font-weight: bold;
    color: #1398BE;
    font-size: 18px;
}

/* Bordas */
#borda {
    border-top: 0.05rem solid #999999;
}

.santos {
    border-bottom: 2px solid #999999;
}

.atletico-pr {
    border-bottom: 2px solid #999999;
}

/* COR FUNDO  */
.fundo {
    background: #F7F7F7;
}

#rodape {
    padding: 5px;
    padding-right: 27px;
    margin: auto;
    width: 469px;
    color: #8F8F8F;
    border-top: 0.05rem solid #999999;
    font-size: 10.5px;
}

#rodape1 {
    margin: auto;
    width: 469px;
    color: #8F8F8F;
    border-bottom: 0.05rem solid #999999;
    font-size: 9px;
    padding-bottom: 2px;
    padding-right: 11px;
    margin-bottom: 2px;
}

.libertadores {
    padding-left: 2px;
    padding-right: 2px;
}

.quadradoAzulMarinho {
    justify-content: center;
    background: #003366;
    border-radius: 2px;
    width: 11px;
    height: 10px;
}

.preLibertadores {
    padding-left: 2px;
    padding-right: 2px;
}

.quadradoazulCeleste {
    background-color: #1398BE;
    border-radius: 2px;
    width: 11px;
    height: 10px;
}

.sulAmericana {
    padding-left: 2px;
    padding-right: 2px;
}

.quadradoLaranja {
    background-color: #DE9800;
    border-radius: 2px;
    width: 11px;
    height: 10px;
}

.rebaixados {
    padding-left: 2px;
    padding-right: 2px;
}

.quadradoVermelho {
    background-color: #C91B04;
    border-radius: 2px;
    width: 11px;
    height: 10px;
}

.legendaNegrito {
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
}

.direitos {
    padding: 10px;
    font-size: 10px;
    background-image: linear-gradient(100deg, #028d3a , #06AA48, #06AA48);
}

.direitos h2 {
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
}